<% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">

            <%= value %>
      </div>
<% end %>
<div class="container">
  <h1>PostsController#list</h1><br>
  <a href="/posts_controller/new" class="btn btn-primary">글쓰기</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>title</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @every_posts.each do |each_post| %>
        <tr>
          <th scope="row"><%= each_post.id %></th>
          <td><a href="/posts_controller/show/<%= each_post.id %>"><%= each_post.title %></a></td>
          <td><a href="/posts_controller/edit/<%= each_post.id %>">수정</a>|<a data-link="<%= each_post.id %>" href="" data-toggle="modal" data-target="#myModal">삭제</a></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">삭제하시겠습니까?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="posts_controller/destroy" method="post">
        <div class="modal-body">
          삭제된 게시물은 복구가 불가능합니다.<br>
          그래도 게시물을 삭제하시겠다면 비밀번호를 입력하십시오.<br>
          <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호">
          <input type="hidden" name="post_num" value="" id="post_num">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-danger" role="button" id="delBtn">Delete</a>
        </div>
      </form>
    </div>
  </div>
</div>
